.about_us_container {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vmax 10vmax;
    background-color: #e3f6f5;
}

.about_us_container h1 {
    font-size: 5vmax;
    margin: 3vmax 0;
}

.about_us_text {
    padding: 10px;
    line-height: 3vmax;
}

.about_us_text p::first-letter {
    font-size: 2.5em;
    font-weight: bold;
}

.team_members {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

/* Three columns side by side */
.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0.5vmax 3vmax;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #272343;
    color: white;
    border-radius: 20px;
    margin-bottom: 4vmax;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    translate: 0 0 0.5vmax;
    transition: 0.3s;
    scale: 1.01;
}

.card h2 {
    font-size: 2.8vmax;
    padding: 1vmax 0;
    color: white;
    font-weight: bolder;
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container a {
    text-decoration: none;
    color: inherit;
}

/* Clear floats */
.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: #ffd803;
    font-size: 1.2vmax;
    font-weight: bold;
    text-align: center;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #272343;
    background-color: #e3f6f5;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.button:hover {
    background-color: #ffd803;
    color: #272343;
    transition: 0.3s;
}

.card_img {
    width: 90%;
    margin: 2vmax 2vmax 0 2vmax;
    border-radius: 100%;
}